body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}


.banner {
    background-image: url("assets/Hero-bg.png");
    background-size: cover;
    background-position: center center;
    height: 652px;
  }
  
  
  .content {
    text-align: center;
    padding-top: 50px;
  }
  
  .contact-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
  }

  .web-dev-section {
    text-align: center;
    padding: 100px 20px;
}

.web-dev-section h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.web-dev-section p {
    font-size: 1em;
    margin-bottom: 40px;
}

.card {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}

.card-img {
    flex: 1;
    max-width: 150px;
    margin-right: 20px;
}

.card-content {
    flex: 3;
    text-align: left;
}

.card-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 1em;

    margin-bottom: 20px;
}

.card-content button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.inspiration {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
    margin-top: 20px;
}

.inspiration h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.inspiration p {
    font-size: 1em;
    margin-bottom: 40px;
}
.targets {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
    margin-top: 20px;
}

.targets h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.targets p {
    font-size: 1em;
    margin-bottom: 40px;
}

.target-card {
    display: inline-block;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 200px;
}

.target-card img {
    max-width: 100px;
    margin-bottom: 20px;
}

.target-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.target-card p {
    font-size: 1em;
    margin-bottom: 20px;
}

.target-card button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: white;
}

#cardhtml{
    background-color: lightgreen;
}
#cardcss{
    background-color: lightblue;
}
#cardjs{
    background-color: lightyellow;
}

.next{
    background-color: lightblue;
}